<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=location_on" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Clima App</title>
</head>

<body>
    <main id="main">
        <form id="busca" class="form-container">
            <p class="main-title">Procurar Cidade</p>
            <div class="input-container">
                <span class="material-symbols-outlined">location_on</span>
                <input type="text" id="cidade" name="cidade" class="cidade" placeholder="Cidade, País" required>
                <button type="submit" class="submit-btn">Obter</button>
            </div>
        </form>
    </main>
    <div id="clima-info"></div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>